.CardAr{
    background-color: rgb(154, 154, 154);
    color: black;
    width:200px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    border-radius: 10px;
    box-shadow: 1px 5px 10px black;
    
}
.CardAgua{
    background-color: rgb(51, 88, 255);
    color: white;
    width:200px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    border-radius: 10px;
    box-shadow: 1px 5px 10px black;
    
}
.CardFogo{
    background-color: rgb(239, 93, 40);
    color: white;
    width:200px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    border-radius: 10px;
    box-shadow: 1px 5px 10px black;
    
}
.CardTerra{
    background-color: rgb(108, 27, 0);
    color: white;
    width:200px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    border-radius: 10px;
    box-shadow: 1px 5px 10px black;
    
}
.boxTitleIcon{
    display: flex;
    align-items: center;
}


.CardAr img, .CardFogo img, .CardTerra img, .CardAgua img{
    max-width: 80%;
    height: auto;
}
.CardAr h3, .CardFogo h3, .CardAgua h3, .CardTerra h3{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5px;
}
.CardAr span, .CardFogo span, .CardAgua span, .CardTerra span{
    font-size:18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}